<div class="fixed inset-0 top-0 right-0 bottom-0 left-0 z-20">
	<div class="overlay fixed inset-0 top-0 right-0 bottom-0 left-0 bg-black/20" @onclick="onClose">
	</div>
	<div class="absolute top-0 right-0 bottom-0 w-[400px] bg-white shadow-lg">
		<div class="flex items-center justify-between px-3 pt-3">
			<h4 class="text-lg font-medium">@Title</h4>
			<button type="button" class="cursor-pointer rounded-lg border border-slate-300 p-1 hover:bg-red-100" @onclick="onClose">
				<img src="icons/x.svg" alt="" />
			</button>
		</div>
		<hr class="mt-3 mb-6 text-slate-100" />

		<div class="p-3">
			@ChildContent
		</div>

		<hr class="mt-6 mb-3 text-slate-100" />

		<div class="flex items-center justify-between px-3">
			<button type="button" class="flex cursor-pointer items-center justify-center gap-1 rounded-lg border border-slate-300 bg-slate-100 px-4 py-1 hover:bg-slate-200" @onclick="onClose">
				<img src="icons/x.svg" alt="" />
				<span>Cancel</span>
			</button>
			@if (ShowSaveButton)
			{
				<button type="submit" class="flex cursor-pointer items-center justify-center gap-1 rounded-lg border border-green-400 bg-green-300 px-4 py-1 hover:bg-green-400">
					<img src="icons/check.svg" alt="" />
					<span>Save</span>
				</button>
			}
		</div>
	</div>
</div>
@code {
	[Parameter, EditorRequired]
	public EventCallback onClose { get; set; }

	[Parameter, EditorRequired]
	public string Title { get; set; }

	[Parameter, EditorRequired]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public bool ShowSaveButton { get; set; } = true;
}
