<EditForm Model="_model">
	<DataAnnotationsValidator />
	<RightSidePanel Title="Add Service"
					onClose="OnSidebarClose">
		<div class="space-y-3">
			<div class="">
				<label class="text-xs text-slate-500">Name</label>
				<InputText @bind-Value="_model.Name" class="mt-1 w-full rounded-lg border border-slate-200 bg-slate-50 px-3 py-2 text-sm" placeholder="Enter Name" />
				<ValidationMessage For="() => _model.Name" class="text-xs text-red-500" />
			</div>
			<div class="grid grid-cols-2 gap-3">
				<div>
					<label class="text-xs text-slate-500">Rate</label>
					<InputNumber @bind-Value="_model.Rate" class="mt-1 w-full rounded-lg border border-slate-200 bg-slate-50 px-3 py-2 text-sm" placeholder="Enter Rate" />
				</div>
				<div>
					<label class="text-xs text-slate-500">Unit</label>
					<InputText @bind-Value="_model.Unit" class="mt-1 w-full rounded-lg border border-slate-200 bg-slate-50 px-3 py-2 text-sm" placeholder="Enter Unit" />
				</div>
				<div class="col-span-2">
					<ValidationMessage For="() => _model.Rate" class="text-xs text-red-500" />
					<ValidationMessage For="() => _model.Unit" class="text-xs text-red-500" />
				</div>
			</div>
			<div class="">
				<label class="text-xs text-slate-500">Description</label>
				<InputTextArea rows="2" @bind-Value="_model.Description" class="mt-1 w-full rounded-lg border border-slate-200 bg-slate-50 px-3 py-2 text-sm" placeholder="Enter Description" />
				<ValidationMessage For="() => _model.Description" class="text-xs text-red-500" />
			</div>
		</div>
	</RightSidePanel>
</EditForm>

@code {
	[Parameter, EditorRequired]
	public ServiceModel Service{ get; set; }

	[Parameter]
	public EventCallback OnSidebarClose { get; set; }

	private ServiceModel _model = new();

	protected override void OnParametersSet()
	{
		if (Service.Id > 0)
		{
			_model = Service.Clone();
		}
	}
}
