<EditForm Model="_model">
	<DataAnnotationsValidator />
	<RightSidePanel Title="@(_model.Id == 0 ? "Add Client" : "Edit Client")" onClose="OnSidebarClose">
		<div class="space-y-3">
			<div class="">
				<label class="text-xs text-slate-500">Name</label>
				<InputText @bind-Value="_model.Name" class="mt-1 w-full rounded-lg border border-slate-200 bg-slate-50 px-3 py-2 text-sm" placeholder="Enter Name" />
				<ValidationMessage For="() => _model.Name" class="text-xs text-red-500" />
			</div>

			<div class="">
				<label class="text-xs text-slate-500">Email</label>
				<InputText @bind-Value="_model.Email" class="mt-1 w-full rounded-lg border border-slate-200 bg-slate-50 px-3 py-2 text-sm" placeholder="Enter Email" />
				<ValidationMessage For="() => _model.Email" class="text-xs text-red-500" />
			</div>

			<div class="">
				<label class="text-xs text-slate-500">Contact Number</label>
				<InputText @bind-Value="_model.ContactNumber" class="mt-1 w-full rounded-lg border border-slate-200 bg-slate-50 px-3 py-2 text-sm" placeholder="Enter Contact Number" />
				<ValidationMessage For="() => _model.ContactNumber" class="text-xs text-red-500" />
			</div>
	
			<div class="">
				<label class="text-xs text-slate-500">Remarks</label>
				<InputTextArea rows="2" @bind-Value="_model.Remarks" class="mt-1 w-full rounded-lg border border-slate-200 bg-slate-50 px-3 py-2 text-sm" placeholder="Enter Remarks" />
				<ValidationMessage For="() => _model.Remarks" class="text-xs text-red-500" />
			</div>
		</div>
	</RightSidePanel>
</EditForm>

@code {
	[Parameter, EditorRequired]
	public ClientModel Client { get; set; }

	[Parameter]
	public EventCallback OnSidebarClose { get; set; }
	private ClientModel _model = new();
	protected override void OnParametersSet()
	{
		if (Client.Id > 0)
		{
			_model = Client.Clone()!;	
		}
	}
}
